/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/

# macOS
.DS_Store
*.DS_Store
/vendor
.env
.env.backup
.env.production
.locked
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.omx
/.vscode
/.zed
/doc
/chrome_plugin

# Plugins directory - ignore all folders but keep specific files
Plugins/*
!Plugins/blog
!Plugins/companysite
!Plugins/AbstractPlugin.php
!Plugins/PluginInterface.php
!Plugins/README.md
.omx/
